{
  "env": { "browser": true, "es6": true, "react-native/react-native": true },
  "plugins": [
    "react-with-styles",
    "react-perf",
    "react-native",
     "cypress",
  ],
  "extends": [
    "airbnb",
    "airbnb-base",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:react-hooks/recommended",
    'plugin:mocha/recommended',
    'plugin:vue/vue3-recommended',
  ],
  parser: '@typescript-eslint/parser',
  parserOptions: {
    "project": "./tsconfig.json",
     "ecmaFeatures": {
        "jsx": true
    },
    "extraFileExtensions": ['.vue'],
  },
  "rules": {
     "unsuppored-rule": 1,
     "react-with-styles/no-unused-styles": "warn",
     "react-perf/jsx-no-new-object-as-prop": "error",
     "react-native/no-unused-styles": 2,
     "react-native/split-platform-components": 2,
     "react-native/no-inline-styles": 1,
     "react-native/no-color-literals": 2,
     "react-native/no-single-element-style-arrays": 2,
     "react-hooks/exhaustive-deps": 2,
     "cypress/no-assigning-return-values": "error",
    "cypress/no-unnecessary-waiting": "error",
    "cypress/assertion-before-screenshot": "warn",
    "cypress/no-force": "warn",
    "cypress/no-async-tests": "error",
    "cypress/no-pause": "error"
  },
  "settings": {
    "react": {
      "createClass": "createReactClass", // Regex for Component Factory to use,
                                         // default to "createReactClass"
      "pragma": "React",  // Pragma to use, default to "React"
      "fragment": "Fragment",  // Fragment to use (may be a property of <pragma>), default to "Fragment"
      "version": "18.2", // React version. "detect" automatically picks the version you have installed.
                           // You can also use `16.0`, `16.3`, etc, if you want to override the detected value.
                           // It will default to "latest" and warn if missing, and to "detect" in the future
      "flowVersion": "0.53" // Flow version
    }
  }
}
